#player-1 {
    height: 90vh;
    width: 100%;
    border: 10px solid #9e29a0;
    align-items: center;
}
.main-player{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#word span {
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid black;
    display: inline-block;
    margin-block: 5px;
}

.correct-letter {
    background-color: rgb(132 204 22);
}

.incorrect-letter {
    background-color: rgb(244 63 94);
}
.side-player-panel .card{
    max-width: 45%;
}
.side-player-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
}
body{
    height: 100vh;
    display: flex;
    place-items: center;
    background-color: #dedede;
    box-sizing: border-box;
}
h3{
    font-size: 3rem;
    padding-bottom: 2rem;
}
#word-input,
#basic-addon1{
    border: 2px solid #000;
    border-radius: 0px;
}
.card{
    border-radius: 0px;
    border: 1.5px solid #646464;
    padding-block: 1.5rem;
}

@media (max-width:1000px) {
    .side-player-panel #word span{
        padding: .5rem;
    }
    .side-player-panel h3{
        font-size: 2rem;
        padding-bottom: .5rem;
    }
    .card{
        padding-block: .5rem;
    }
}

.available {
    display: none;
}
