#register-screen {
    width: 100%;
    display: flex;
    place-content: center;
}
#set-nickname{
    margin-inline: auto;
    display: block;
    margin-top: 2rem;
}
.error-text{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 2rem;
}